In [4]:
# 정수 num1, num2가 매개변수로 주어질 때, num1을 num2로 나눈 몫을 return 하도록 solution 함수를 완성해주세요.

def solution(num1, num2) :
    return num1 // num2

solution(7,2)

3

In [6]:
# 정수 num1, num2가 매개변수로 주어질 때, num1를 num2로 나눈 나머지를 return 하도록 solution 함수를 완성해주세요.

def solution(num1, num2) : 
    return num1 % num2
    
solution(7,2)

1

In [7]:
# 정수 num1과 num2가 주어질 때, num1에서 num2를 뺀 값을 return하도록 soltuion 함수를 완성해주세요.

def solution(num1, num2) :
    return num1 - num2

solution(2,3)

-1

In [10]:
# 정수 num1과 num2가 매개변수로 주어집니다. 두 수가 같으면 1 다르면 -1을 retrun하도록 solution 함수를 완성해주세요.

def solution(num1, num2) :
    if num1 == num2 : return 1
    else : return -1

solution(1,1)

1

In [12]:
# 머쓱이는 선생님이 몇 년도에 태어났는지 궁금해졌습니다. 2022년 기준 선생님의 나이 age가 주어질 때, 선생님의 출생 연도를 return 하는 solution 함수를 완성해주세요

def solution(num1) :
    return 2022 + 1 - num1

solution(40)

1983

In [15]:
# 정수 num1과 num2가 매개변수로 주어질 때, num1을 num2로 나눈 값에 1,000을 곱한 후 정수 부분을 return 하도록 solution 함수를 완성해주세요.

def solution(num1, num2) :
    return (num1 / num2 * 1000) // 1

solution(11,3)

3666.0

In [17]:
# 정수 num1, num2가 매개변수 주어집니다. num1과 num2를 곱한 값을 return 하도록 solution 함수를 완성해주세요.

def solution(num1, num2) :
    return num1*num2

solution(11,2)

22

In [18]:
# 정수 num1과 num2가 주어질 때, num1과 num2의 합을 return하도록 soltuion 함수를 완성해주세요.

def solution(num1, num2) :
    return num1 + num2

solution(11,4)

15

In [41]:
# 각에서 0도 초과 90도 미만은 예각, 90도는 직각, 90도 초과 180도 미만은 둔각 180도는 평각으로 분류합니다. 
# 각 angle이 매개변수로 주어질 때 예각일 때 1, 직각일 때 2, 둔각일 때 3, 평각일 때 4를 return하도록 solution 함수를 완성해주세요.

# 다시보기

def solution(num1) :
    if num1 > 0 and num1 < 90 : return 1
    elif num1 == 90 : return 2
    elif num1 > 90 and num1 < 180 : return 3
    elif num1 == 180 : return 4

solution(91)

3

In [43]:
# 머쓱이네 양꼬치 가게는 10인분을 먹으면 음료수 하나를 서비스로 줍니다. 양꼬치는 1인분에 12,000원, 음료수는 2,000원입니다. 
# 정수 n과 k가 매개변수로 주어졌을 때, 양꼬치 n인분과 음료수 k개를 먹었다면 총얼마를 지불해야 하는지 return 하도록 solution 함수를 완성해보세요.

def solution(n, k) :
    return 12000*n + 2000*(k-(n/10 // 1))

solution(10,3)

124000.0

In [48]:
# 정수 n이 주어질 때, n이하의 짝수를 모두 더한 값을 return 하도록 solution 함수를 작성해주세요.

def solution(num1) :
    sum_1 = 0
    for n in range(2,num1+1,2) :
        sum_1 += n
    return sum_1

solution(4)

6

In [52]:
# 정수 배열 numbers가 매개변수로 주어집니다. numbers의 원소의 평균값을 return하도록 solution 함수를 완성해주세요.

# 다시보기

def solution(numbers) :
    return sum(numbers)/len(numbers)

solution([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

5.5

In [56]:
# 정수가 들어 있는 배열 num_list가 매개변수로 주어집니다. num_list의 원소의 순서를 거꾸로 뒤집은 배열을 return하도록 solution 함수를 완성해주세요.

# 다시보기
def solution(num_list) :
    return num_list[::-1]

solution([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]