In [ ]:
# 정수 배열 numbers와 정수 n이 매개변수로 주어집니다.
# numbers의 원소를 앞에서부터 하나씩 더하다가 그 합이 n보다 커지는 순간 이때까지 더했던 원소들의 합을 return 하는 solution 함수를 작성해 주세요.

def solution(numbers, n) :
  sum = 0
  for i in range(0, len(numbers)) :
    if sum > n : sum = sum
    else : sum += numbers[i]
  return sum

solution([34, 5, 71, 29, 100, 34],	123)

139

In [ ]:
# 최대 5명씩 탑승가능한 놀이기구를 타기 위해 줄을 서있는 사람들의 이름이 담긴 문자열 리스트 names가 주어질 때,
# 앞에서 부터 5명씩 묶은 그룹의 가장 앞에 서있는 사람들의 이름을 담은 리스트를 return하도록 solution 함수를 완성해주세요.
# 마지막 그룹이 5명이 되지 않더라도 가장 앞에 있는 사람의 이름을 포함합니다.

def solution(names) :
  return names[::5]

solution(["nami", "ahri", "jayce", "garen", "ivern", "vex", "jinx"])

['nami', 'vex']

In [ ]:
# 정수 리스트 num_list와 정수 n이 주어질 때,
# num_list를 n 번째 원소 이후의 원소들과 n 번째까지의 원소들로 나눠 n 번째 원소 이후의 원소들을 n 번째까지의 원소들 앞에 붙인 리스트를 return하도록 solution 함수를 완성해주세요.

def solution(num_list, n) :
  a = num_list[n::]
  for i in range(0,n) :
    a.append(num_list[i])
  return a

solution([2, 1, 6],	1)

[1, 6, 2]

In [ ]:
# 정수 start_num와 end_num가 주어질 때, start_num에서 end_num까지 1씩 감소하는 수들을 차례로 담은 리스트를 return하도록 solution 함수를 완성해주세요.

def solution(start_num, end_num) :
  a = []
  for i in range(start_num, end_num-1, -1) :
    a.append(i)
  return a

solution(10,3)

[10, 9, 8, 7, 6, 5, 4, 3]

In [ ]:
# 정수 n과 k가 주어졌을 때, 1 이상 n 이하의 정수 중에서 k의 배수를 오름차순으로 저장한 배열을 return 하는 solution 함수를 완성해 주세요.

def solution(n, k) :
  a = []
  for i in range(1, n+1) :
    if i % k == 0 :
      a.append(i)
  return a

solution(10,	3)

[3, 6, 9]

In [ ]:
# 정수 배열 array와 정수 n이 매개변수로 주어질 때, array에 들어있는 정수 중 n과 가장 가까운 수를 return 하도록 solution 함수를 완성해주세요
# 다시 풀기

def solution(array, n):
    min_diff = 100
    a = 100
    for i in range(len(array)):
        current_diff = abs(array[i] - n)
        if current_diff < min_diff:
            min_diff = current_diff
            a = array[i]
        elif current_diff == min_diff:
            if array[i] < a:  # 더 작은 수를 선택
                a = array[i]
    return a

solution([3, 10, 28],	20)

28