In [7]:
# 자연수 N이 주어지면, N의 각 자릿수의 합을 구해서 return 하는 solution 함수를 만들어 주세요.
# 예를들어 N = 123이면 1 + 2 + 3 = 6을 return 하면 됩니다.

def solution(n):
    nn = str(n)
    answer = 0
    for i in range(0, len(nn)) :
        answer += int(nn[i])
    return answer

solution(123)

6

In [15]:
# 다시풀기

# 자연수 n을 뒤집어 각 자리 숫자를 원소로 가지는 배열 형태로 리턴해주세요. 예를들어 n이 12345이면 [5,4,3,2,1]을 리턴합니다.

def solution(n):
    nn = str(n)
    answer = []
    for i in range(0, len(nn)) :
        answer.insert(0, int(nn[i]))
    return answer

solution(12345)

[5, 4, 3, 2, 1]

In [21]:
# 정수 num이 짝수일 경우 "Even"을 반환하고 홀수인 경우 "Odd"를 반환하는 함수, solution을 완성해주세요.

def solution(n) :
    if n % 2 == 1 :
        return 'Odd'
    if n % 2 == 0 : 
        return 'Even'

solution(5)

'Odd'

In [22]:
# 정수를 담고 있는 배열 arr의 평균값을 return하는 함수, solution을 완성해보세요.

def solution(n) :
    sum = 0
    for i in range(0, len(n)) :
        sum += n[i]
    return sum/len(n)

solution([1,2,3,4])

2.5

In [23]:
# 함수 solution은 정수 x와 자연수 n을 입력 받아, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 리턴해야 합니다.
# 다음 제한 조건을 보고, 조건을 만족하는 함수, solution을 완성해주세요.

def solution(x, n) : 
    answer = []
    for i in range(0, n) :
        answer.append(x*(i+1))
    return answer

solution(2,5)

[2, 4, 6, 8, 10]

In [25]:
# 자연수 n이 매개변수로 주어집니다. n을 x로 나눈 나머지가 1이 되도록 하는 가장 작은 자연수 x를 return 하도록 solution 함수를 완성해주세요.
# 답이 항상 존재함은 증명될 수 있습니다.

def solution(n) :
    for i in range(1, n) :
        if n % i == 1 : return i

solution(128)

127

In [37]:
# 다시풀기

# 문자열 s를 숫자로 변환한 결과를 반환하는 함수, solution을 완성하세요.

# 제한 조건
# s의 길이는 1 이상 5이하입니다.
# s의 맨앞에는 부호(+, -)가 올 수 있습니다.
# s는 부호와 숫자로만 이루어져있습니다.
# s는 "0"으로 시작하지 않습니다.

def solution(s) :
    return int(s)

solution('-1234')

-1234

In [39]:
# 정수 n을 입력받아 n의 약수를 모두 더한 값을 리턴하는 함수, solution을 완성해주세요.

def solution(n) :
    sum = 0
    for i in range(1, n+1) :
        if n % i == 0 : sum += i
    return sum

solution(12)

28

In [57]:
# 다시풀기

# 함수 solution은 정수 n을 매개변수로 입력받습니다. n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요.
# 예를들어 n이 118372면 873211을 리턴하면 됩니다.

def solution(n) :
    answer = []
    nn = str(n)
    for i in range(0, len(nn)) :
        answer.append(nn[i])
    answer.sort()
    na = []
    for j in range(0, len(answer)) :
        na.insert(0, answer[j])
    na = int("".join(na))
    return na

solution(118372)

873211

In [64]:
# 두 정수 a, b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 리턴하는 함수, solution을 완성하세요.
# 예를 들어 a = 3, b = 5인 경우, 3 + 4 + 5 = 12이므로 12를 리턴합니다.

def solution(a, b) :
    sum = 0
    if a < b :
        for i in range(a, b+1) :
            sum += i
    else :
        for i in range(b, a+1) :
            sum += i
    return sum

solution(3,3)

3

In [4]:
#대문자와 소문자가 섞여있는 문자열 s가 주어집니다. s에 'p'의 개수와 'y'의 개수를 비교해 같으면 True, 다르면 False를 return 하는 solution를 완성하세요. 
# 'p', 'y' 모두 하나도 없는 경우는 항상 True를 리턴합니다. 단, 개수를 비교할 때 대문자와 소문자는 구별하지 않습니다.

# 예를 들어 s가 "pPoooyY"면 true를 return하고 "Pyy"라면 false를 return합니다.

def solution(n) :
    nn = n.upper()
    y = 0
    p = 0
    for i in range(0, len(nn)) :
        if nn[i] == 'P' :
            p += 1
        elif nn[i] == 'Y' :
            y += 1
    if y == p :
        return True
    else :
        return False

solution("pPoooyY")

True

In [11]:
# 임의의 양의 정수 n에 대해, n이 어떤 양의 정수 x의 제곱인지 아닌지 판단하려 합니다.
# n이 양의 정수 x의 제곱이라면 x+1의 제곱을 리턴하고, n이 양의 정수 x의 제곱이 아니라면 -1을 리턴하는 함수를 완성하세요.
import math

def solution(n) :
    for i in range(1, 10000000) :
        if i**2 == n :
            return (i+1)**2
    return -1

solution(121)

144

In [14]:
# 양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다. 예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.
# 자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수, solution을 완성해주세요.

def solution(n) :
    nn = str(n)
    nnsum = 0
    for i in range(0, len(nn)) :
        nnsum += int(nn[i])
    if n % nnsum == 0 :
        return True
    else : return False

solution(10)

True

In [19]:
# 어떤 정수들이 있습니다. 이 정수들의 절댓값을 차례대로 담은 정수 배열 absolutes와 이 정수들의 부호를 차례대로 담은 불리언 배열 signs가 매개변수로 주어집니다.
# 실제 정수들의 합을 구하여 return 하도록 solution 함수를 완성해주세요.

def solution(absolutes, signs):
    sumsum = 0
    for i in range(0, len(signs)) :
        if signs[i] == True :
            sumsum += absolutes[i]
        else : sumsum -= absolutes[i]
    return sumsum

solution([4,7,12], [True,False,True])

9

In [20]:
# 0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 매개변수로 주어집니다.
# numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 return 하도록 solution 함수를 완성해주세요.

def solution(n) :
    sumsum = 45
    for i in range(0, len(n)) :
        sumsum -= n[i]
    return sumsum

solution([1,2,3,4,6,7,8,0])

14

In [29]:
# array의 각 element 중 divisor로 나누어 떨어지는 값을 오름차순으로 정렬한 배열을 반환하는 함수, solution을 작성해주세요.
# divisor로 나누어 떨어지는 element가 하나도 없다면 배열에 -1을 담아 반환하세요.

def solution(arr, divisor) :
    arr1 = []
    for i in range(0, len(arr)) :
        if arr[i] % divisor == 0 :
            arr1.append(arr[i])
    arr1.sort()
    if arr1 == [] : return [-1]
    return arr1

solution([5, 9, 7, 10], 5)

[5, 10]

In [33]:
# String형 배열 seoul의 element중 "Kim"의 위치 x를 찾아, "김서방은 x에 있다"는 String을 반환하는 함수, solution을 완성하세요.
# seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

def solution(seoul) :
    for i in range(0, len(seoul)) :
        if seoul[i] == 'Kim' :
            return "김서방은 " + str(i) + "에 있다"
            
solution(["Jane", "Kim"])

'김서방은 1에 있다'

In [36]:
# 1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될 때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.

# 1-1. 입력된 수가 짝수라면 2로 나눕니다. 
# 1-2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다. 
# 2. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다. 
# 예를 들어, 주어진 수가 6이라면 6 → 3 → 10 → 5 → 16 → 8 → 4 → 2 → 1 이 되어 총 8번 만에 1이 됩니다.
# 위 작업을 몇 번이나 반복해야 하는지 반환하는 함수, solution을 완성해 주세요.
# 단, 주어진 수가 1인 경우에는 0을, 작업을 500번 반복할 때까지 1이 되지 않는다면 –1을 반환해 주세요.

def solution(num) :
    for i in range(0,500) :
        if num == 1 : return i
        elif num % 2 == 0 :
            num = num/2
        elif num % 2 == 1 :
            num = num*3 + 1
    return -1

solution(626331)

-1

In [39]:
# 프로그래머스 모바일은 개인정보 보호를 위해 고지서를 보낼 때 고객들의 전화번호의 일부를 가립니다.
# 전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 제외한 나머지 숫자를 전부 *으로 가린 문자열을 리턴하는 함수, solution을 완성해주세요.

def solution(phone_number) :
    number = []
    for i in range(0, len(phone_number)-4) :
        number.append('*')
    for j in range(len(phone_number)-4, len(phone_number)) :
        number.append(phone_number[j])
    number = ''.join(number)
    return number

solution("01033334444")

'*******4444'

In [48]:
# 단어 s의 가운데 글자를 반환하는 함수, solution을 만들어 보세요. 단어의 길이가 짝수라면 가운데 두글자를 반환하면 됩니다.
import math

def solution(s) :
    if len(s) % 2 == 1 :
        a = math.trunc(len(s)/2)
        return s[a]
    else :
        ss = []
        a = int(len(s)/2 - 1)
        b = int(len(s)/2)
        ss.append(s[a])
        ss.append(s[b])
        ss = ''.join(ss)
        return ss

solution("qwer")

'we'