In [ ]:
# 정수가 담긴 리스트 num_list가 주어질 때, num_list의 원소 중 짝수와 홀수의 개수를 담은 배열을 return 하도록 solution 함수를 완성해보세요.
# 다시풀기

def solution(num_list):
    odd = 0
    even = 0
    for i in range(0,len(num_list)) :
      if num_list[i] % 2 == 0 : even += 1
      else : odd += 1
    return [even, odd]

solution([1, 2, 3, 4, 5])

[2, 3]

In [ ]:
# 문자열 my_string이 매개변수로 주어집니다. my_string을 거꾸로 뒤집은 문자열을 return하도록 solution 함수를 완성해주세요.
# 다시풀기

def solution(my_string):
    return my_string[::-1]

solution("qwerty")

'ytrewq'

In [ ]:
# 머쓱이는 할머니께 생신 축하 편지를 쓰려고 합니다. 할머니가 보시기 편하도록 글자 한 자 한 자를 가로 2cm 크기로 적으려고 하며,
# 편지를 가로로만 적을 때, 축하 문구 message를 적기 위해 필요한 편지지의 최소 가로길이를 return 하도록 solution 함수를 완성해주세요.

def solution(message):
    answer = 0
    for i in range(0,len(message)) :
      answer += 2
    return answer

solution("happy birthday!")

30

In [ ]:
# 머쓱이네 피자가게는 피자를 일곱 조각으로 잘라 줍니다.
# 피자를 나눠먹을 사람의 수 n이 주어질 때, 모든 사람이 피자를 한 조각 이상 먹기 위해 필요한 피자의 수를 return 하는 solution 함수를 완성해보세요.

def solution(n) :
  pizza = 1
  piece = pizza * 7
  for i in range(0,100):
    if piece < n :
      pizza += 1
      piece = pizza * 7
  return pizza

solution(15)

3

In [ ]:
# 어떤 세균은 1시간에 두배만큼 증식한다고 합니다.
# 처음 세균의 마리수 n과 경과한 시간 t가 매개변수로 주어질 때 t시간 후 세균의 수를 return하도록 solution 함수를 완성해주세요.
# 다시풀기

def solution(n,t) :
  segyun = n
  time = 2**t
  return segyun*time

solution(2,10)

2048

In [ ]:
# 정수 배열 numbers가 매개변수로 주어집니다. numbers의 원소 중 두 개를 곱해 만들 수 있는 최댓값을 return하도록 solution 함수를 완성해주세요.
# 다시풀기

def solution(num) :
  num = sorted(num)
  return num[-1] * num[-2]

solution([0, 31, 24, 10, 1, 9])

744

In [ ]:
# 정수 n이 매개변수로 주어질 때 n의 각 자리 숫자의 합을 return하도록 solution 함수를 완성해주세요
# 다시풀기

def solution(num) :
  baekman = num // 1000000
  sipman = (num % 1000000) // 100000
  man =  (num % 100000) // 10000
  cheon = (num % 10000) // 1000
  baek = (num % 1000) // 100
  sip = (num % 100) // 10
  il = num % 10
  return baekman + sipman + man + cheon + baek + sip + il

solution(930211)

16

In [ ]:
# 머쓱이는 학교에서 키 순으로 줄을 설 때 몇 번째로 서야 하는지 궁금해졌습니다.
# 머쓱이네 반 친구들의 키가 담긴 정수 배열 array와 머쓱이의 키 height가 매개변수로 주어질 때, 머쓱이보다 키 큰 사람 수를 return 하도록 solution 함수를 완성해보세요.

def solution(array, height) :
  tall = 0
  for i in range(0, len(array)) :
    if array[i] > height : tall += 1
  return tall

solution([149, 180, 192, 170],	167)

3

In [ ]:
# 선분 세 개로 삼각형을 만들기 위해서는 다음과 같은 조건을 만족해야 합니다.

# 가장 긴 변의 길이는 다른 두 변의 길이의 합보다 작아야 합니다.
# 삼각형의 세 변의 길이가 담긴 배열 sides이 매개변수로 주어집니다. 세 변으로 삼각형을 만들 수 있다면 1, 만들 수 없다면 2를 return하도록 solution 함수를 완성해주세요.

def solution(sides) :
  sides = sorted(sides)
  first = sides[-1]
  second = sides[-2]
  third = sides[-3]
  if first < second + third : return 1
  else : return 2

solution([1, 2, 3])

2

In [ ]:
# 정수 배열 numbers와 정수 num1, num2가 매개변수로 주어질 때,
# numbers의 num1번 째 인덱스부터 num2번째 인덱스까지 자른 정수 배열을 return 하도록 solution 함수를 완성해보세요.
# 다시풀기

def solution(numbers, num1, num2) :
  return numbers[num1:num2+1]

solution([1, 2, 3, 4, 5],	1,	3)

[2, 3, 4]

In [ ]:
# 머쓱이네 피자가게는 피자를 두 조각에서 열 조각까지 원하는 조각 수로 잘라줍니다.
# 피자 조각 수 slice와 피자를 먹는 사람의 수 n이 매개변수로 주어질 때,
# n명의 사람이 최소 한 조각 이상 피자를 먹으려면 최소 몇 판의 피자를 시켜야 하는지를 return 하도록 solution 함수를 완성해보세요.

def solution(slice, n) :
  pizza = 1
  piece = pizza*slice
  for i in range(0,100) :
    if piece < n :
      pizza += 1
      piece = pizza*slice
  return pizza

solution(4,	12)

3

In [ ]:
# x 좌표 (x, y)를 차례대로 담은 정수 배열 dot이 매개변수로 주어집니다.
# 좌표 dot이 사분면 중 어디에 속하는지 1, 2, 3, 4 중 하나를 return 하도록 solution 함수를 완성해주세요.

def solution(dot):
  if dot[0] > 0 :
    if dot[1] > 0 : return 1
    else : return 4
  else :
    if dot[1] > 0 : return 2
    else : return 3

solution([2, 4])

1

In [ ]:
# 두 배열이 얼마나 유사한지 확인해보려고 합니다. 문자열 배열 s1과 s2가 주어질 때 같은 원소의 개수를 return하도록 solution 함수를 완성해주세요.

def solution(s1, s2) :
  same = 0
  for i in range(0, len(s1)) :
    for j in range(0, len(s2)) :
      if s1[i] == s2[j] : same += 1
  return same

solution(["a", "b", "c"],	["com", "b", "d", "p", "c"])

2

In [ ]:
# 순서쌍이란 두 개의 숫자를 순서를 정하여 짝지어 나타낸 쌍으로 (a, b)로 표기합니다.
# 자연수 n이 매개변수로 주어질 때 두 숫자의 곱이 n인 자연수 순서쌍의 개수를 return하도록 solution 함수를 완성해주세요.

def solution(n) :
  mok = 0
  for i in range(1, n+1) :
    if n % i == 0 : mok += 1
  return mok

solution(20)

6

In [ ]:
# 정수 n과 정수 배열 numlist가 매개변수로 주어질 때, numlist에서 n의 배수가 아닌 수들을 제거한 배열을 return하도록 solution 함수를 완성해주세요.

def solution(n, numlist) :
  bae = []
  for i in range(0, len(numlist)) :
    if numlist[i] % n == 0 :
      bae.append(numlist[i])
  return bae

solution(3,	[4, 5, 6, 7, 8, 9, 10, 11, 12])

[6, 9, 12]

In [ ]:
# 문자열 배열 strlist가 매개변수로 주어집니다. strlist 각 원소의 길이를 담은 배열을 return하도록 solution 함수를 완성해주세요.

def solution(strlist) :
  gil = []
  for i in range(0, len(strlist)) :
    gil.append(len(strlist[i]))
  return gil

solution(["We", "are", "the", "world!"])

[2, 3, 3, 6]

In [ ]:
# 머쓱이는 추운 날에도 아이스 아메리카노만 마십니다. 아이스 아메리카노는 한잔에 5,500원입니다.
# 머쓱이가 가지고 있는 돈 money가 매개변수로 주어질 때,
# 머쓱이가 최대로 마실 수 있는 아메리카노의 잔 수와 남는 돈을 순서대로 담은 배열을 return 하도록 solution 함수를 완성해보세요.

def solution(money) :
  return [money // 5500, money % 5500]

solution(20000)

[3, 3500]

In [ ]:
# 문자열 str1, str2가 매개변수로 주어집니다. str1 안에 str2가 있다면 1을 없다면 2를 return하도록 solution 함수를 완성해주세요.
# 다시풀기

def solution(str1, str2) :
  if str2 in str1 : return 1
  else : return 2

solution("ab6CDE443fgh22iJKlmn1o",	"6CD")

1

In [ ]:
# 문자열 my_string과 정수 n이 매개변수로 주어질 때, my_string에 들어있는 각 문자를 n만큼 반복한 문자열을 return 하도록 solution 함수를 완성해보세요.
# 다시풀기

def solution(my_string, n) :
  norm = []
  for i in range(0,len(my_string)) :
    for j in range(0,n) :
      norm.append(my_string[i])
  return ''.join(norm)

solution("hello",	3)

'hhheeellllllooo'

In [ ]:
# 어떤 자연수를 제곱했을 때 나오는 정수를 제곱수라고 합니다. 정수 n이 매개변수로 주어질 때, n이 제곱수라면 1을 아니라면 2를 return하도록 solution 함수를 완성해주세요.

def solution(n) :
  for i in range(1,n) :
    if n / i == i : return 1
  return 2

solution(144)

1

In [ ]:
# 영어에선 a, e, i, o, u 다섯 가지 알파벳을 모음으로 분류합니다.
# 문자열 my_string이 매개변수로 주어질 때 모음을 제거한 문자열을 return하도록 solution 함수를 완성해주세요.

def solution(my_string) :
  my_str = []
  for i in range(0, len(my_string)) :
    if my_string[i] != 'a' :
      if my_string[i] != 'e' :
        if my_string[i] != 'i' :
          if my_string[i] != 'o' :
            if my_string[i] != 'u' : my_str.append(my_string[i])
  return ''.join(my_str)

solution("nice to meet you")

'nc t mt y'

In [ ]:
# 문자열 my_string과 문자 letter이 매개변수로 주어집니다. my_string에서 letter를 제거한 문자열을 return하도록 solution 함수를 완성해주세요.

def solution(my_string, letter) :
  my_str = []
  for i in range(0, len(my_string)) :
    if my_string[i] != letter : my_str.append(my_string[i])
  return ''.join(my_str)

solution("abcdef","f" )

'abcde'

In [ ]:
# 정수가 담긴 배열 array와 정수 n이 매개변수로 주어질 때, array에 n이 몇 개 있는 지를 return 하도록 solution 함수를 완성해보세요.

def solution(array, n) :
  cnt = 0
  for i in range(0, len(array)) :
    if array[i] == n : cnt += 1
  return cnt

solution([1, 1, 2, 3, 4, 5],	1)

2